form {
  display: flex;
  flex-direction: column;
  color: inherit;
  gap: 4rem;
}

form.inline {
  display: inline-block;
  width: initial;
  gap: 0;
  padding: 0;
  margin: 0;
}

form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-smallest);
}

input,
textarea,
select {
  padding: var(--gap-micro) var(--gap-small);
  border-radius: var(--radius-medium);
  display: block;
  background-color: inherit;
  margin: 0;
  border: var(--border);
  outline: none;
  width: 100%;
}

textarea {
  min-height: 4rem;
  max-width: 100%;
  field-sizing: content;
}

textarea,
select,
input:not([type="checkbox"], [type="file"], [type="radio"]) {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
}

input:read-only {
  color: currentColor;
  border-color: #696968;
}

fieldset {
  padding: 0;
  border: none;
}

form label {
  text-align: left;
  color: var(--heading-color);
  font-size: 1.2rem;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: var(--gap-nano);
}

textarea::-webkit-scrollbar-track {
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-inset);
}

textarea::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px var(--sec-color);
  border-radius: var(--radius-small);
}

.flow-wide {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-small);
  align-items: center;
  flex-direction: row;
}

.flow-vert {
  display: flex;
  gap: var(--gap-smallest);
  flex-direction: column;
}

.flow-wide.wrap {
  flex-wrap: wrap;
}

.inline-control {
  display: flex;
  align-items: center;
  flex-direction: row !important;
  border: var(--border);
  border-radius: var(--radius-base);
}

.inline-control > * {
  border-radius: 0;
}

.inline-control > :first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  display: block;
  font-size: inherit;
  width: 100%;
  border: none;
  border-radius: var(--radius-base) 0 0 var(--radius-base);
}

.inline-control > :last-child {
  color: currentColor;
  background-color: var(--bg-color);
  border: none;
  border-left: var(--border);
  height: 100%;
  width: 4rem;
  border-radius: 0 var(--radius-base) var(--radius-base) 0;
  padding-block: var(--gap-smallest);
}

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--gap-base);
  border-radius: var(--radius-base);
  gap: var(--gap-smallest);
  justify-content: space-between;
  font-size: 1rem;
  border: var(--border);
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.3rem;
  height: 1.3rem;
  padding: var(--gap-nano);
  border: var(--border);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before,
input[type="checkbox"]::before {
  content: "";
  width: .9rem;
  height: .9rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem currentColor;
  background-color: CanvasText;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
  transform: scale(1);
}

@media (min-width: 40em) {

  input[type="file"] ~ label,
  select,
  .inline-control > span {
    cursor: pointer;
  }
}

button,
.button,
.ghost {
  font: inherit;
  text-decoration: none;
  border: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-micro);
  padding: var(--gap-micro) var(--gap-smallest);
  font-weight: normal;
  position: relative;
  border-radius: var(--radius-base);
  text-transform: capitalize;
}

form button:not(.inline-control button) {
  width: 100%;
}

button,
.button,
a.button {
  color: #fff;
  background-color: var(--prim-color);
  border: none;
}

button.red,
a.red,
button.danger,
a.danger {
  color: var(--gray-500);
  background-color: var(--red-100);
  border: var(--border);
}

.ghost,
a.ghost {
  color: currentColor !important;
  background-color: transparent;
  border: var(--border);
}

button:disabled,
.button:disabled,
.ghost:disabled {
  opacity: 0.55;
  cursor: not-allowed;
}

button:active,
.button:active,
.ghost:active {
  transform: scale(0.95);
}