*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a {
  text-decoration-skip-ink: auto;
  overflow-wrap: break-word;
}

img,
picture,
svg,
canvas,
video,
audio {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

img {
  vertical-align: middle;
  image-rendering: pixelated;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  min-height: 5rem;
  max-width: 100%;
  field-sizing: content;
}

:target {
  scroll-margin-block: 5ex;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
label,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
